


    <div class="jumbotron">
      <h1 class="display-4">White Elephant Game</h1>

      <hr class="my-4">
      <div class="container">
        <ul>
          <div class="row">
            {{#each listOfGifts}}
              <div class="col-md-6">
                {{!-- GIFTS --}}
                <form id="form3" method="GET" action="/playgame"></form>
                    <li>Gift Name: {{gift_name}}, Gift Pic:  {{gift_pic}}<button class="btn btn-success float-right"type="submit" form="form3" id="select-gift" data-value={{id}} id="a-select-gift-{{id}}">Select</button></li>
              </div>
            {{/each }}
            {{#each listOfPlayers}}
              <div class="col-md-6">
                {{!-- PLAYERS --}}
                <form id="form4" method="GET" action="/playgame"></form>
                  <li>Player Name: {{player_name}}, Player Pic:  {{player_pic}}<button class="btn btn-danger float-right" type="submit" form="form4" id="steal-gift" data-value={{id}} id="a-steal-gift-{{id}}">STEAL</button></li>
              </div>
            {{/each }}
          </div>
        </div>
      </ul>

      <hr class="my-4">

      {{!-- <button type="submit" form="form2" id="get-started" value="Submit" class="btn btn-success float-right">Start Game</button> --}}
      {{!-- <button type="submit" form="form1" id="enter-player" value="Submit" class="btn btn-danger float-right">Submit
        Present</button> --}}
    </div>





