


    <div class="jumbotron">
      <h1 class="display-4">White Elephant Game</h1>

      <hr class="my-4">
{{!--       
      <form id="form1" method="POST" action="/playgame">
        <!-- From Steve, HBS likes forms like this -->
        <div class="form-group">
          <label for="gamePlayerName">Player Name:</label>
          <input type="text" class="form-control" id="player-name" name="playerName">
        </div>
        <div class="form-group">
          <label for="gamePlayerPic">Player URL Pic:</label>
          <input type="text" class="form-control" id="player-pic" name="playerPic"><br>
        </div>
        <div class="form-group">
          <label for="gameGiftName">Gift Name:</label>
          <input type="text" class="form-control" id="gift-name" name="giftName"><br>
        </div>
        <div class="form-group">
          <label for="gameGiftURL">Gift URL:</label>
          <input type="text" class="form-control" id="gift-url" name="giftURL"><br>
        </div>
      </form>
 --}}
      <form id="form3" method="GET" action="/playgame"></form>

      {{!-- GIFTS --}}
       <ul>
        {{#each listOfGifts}}
          <li>Gift Name: {{gift_name}}, Gift Pic:  {{gift_pic}}<button type="submit" form="form3" id="select-gift" data-value={{id}} id="a-want-gift-{{id}}">Select</button></li>
        {{/each }}
      </ul>

      {{!-- PLAYERS --}}
       <ul>
        {{#each listOfPlayers}}
          <li>Player Name: {{player_name}}, Player Pic:  {{player_pic}}<button type="submit" form="form3" id="select-gift" data-value={{id}} id="a-want-gift-{{id}}">STEAL</button></li>
        {{/each }}
      </ul>

      <hr class="my-4">

      {{!-- <button type="submit" form="form2" id="get-started" value="Submit" class="btn btn-success float-right">Start Game</button> --}}
      {{!-- <button type="submit" form="form1" id="enter-player" value="Submit" class="btn btn-danger float-right">Submit
        Present</button> --}}
    </div>





