<div class="jumbotron">
  <h1 class="display-4">White Elephant Game</h1>

  <hr class="my-4">
  {{#each activePlayer}}
  <h4>Player Name: {{player_name}}</h4>
  
  {{/each }}
  <hr class="my-4">
  <div class="container">
    <ul>
      <div class="row">
        <div class="col-md-6">

          {{#each listOfGifts}}
          <div class="row">
            {{!-- GIFTS --}}
            {{!-- <div class="col-md-6"></div> --}}
            <form id="form3" method="POST" action="/playgame">
            <div class="col-md-8">
              <li>Gift Name: {{gift_name}}, Gift Pic: {{gift_pic}}, {{gift_state}}
            </div>
            <div class="col-md-4">
              <button class="btn btn-success float-right" type="submit" name="GIFT_id" value={{id}} form="form3" id="select-gift" data-value={{id}}
                id="a-select-gift-{{id}}">Select</button></li>
            </div>
            </form>
          </div>
          {{/each }}
        </div>
        <div class="col-md-6">
          {{#each listOfPlayers}}
          <div class="row">

            {{!-- PLAYERS --}}
            <form id="form4" method="GET" action="/playgame">
            <div class="col-md-8">
              <li>Player Name: {{player_name}}, Player Pic: {{player_pic}}
            </div>
            <div class="col-md-4">
              <button class="btn btn-danger float-right" type="submit" form="form4" id="steal-gift" data-value={{id}}
                id="a-steal-gift-{{id}}">STEAL</button></li>
            </div>
            </form>
          </div>
          {{/each }}
        </div>
      </div>
  </div>
  </ul>

  <hr class="my-4">

  {{!-- <button type="submit" form="form2" id="get-started" value="Submit" class="btn btn-success float-right">Start
    Game</button> --}}
  {{!-- <button type="submit" form="form1" id="enter-player" value="Submit" class="btn btn-danger float-right">Submit
    Present</button> --}}
</div>